Button{
    background-color: rgb(252, 84, 84);
    box-shadow: 3px 3px 1px rgb(186, 86, 86);
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    width: 150px;
    height: 50px; 
    margin-left: 2px; /*espaço entre os dois botoes*/ 
    margin-right: 2px; /* espaço entre os dois botoes*/ 
    font-family: Myriad Pro Condensed, Myriad Pro;
    padding-top: 6px; /**/ /*setar a altura da palavra dentro do botao. pode usar padding-bottom tambem*/
    text-shadow: 1px 1px 0px rgb(186, 86, 86); /*relevo do botao. primeiro parametro é a sombra de baixo, segundo a sombra da direita, terceiro suavidade da sombra*/
    color: rgb(233, 184, 184);
    font-size: 20px;
    
}